.bolo {
    width: 300px;
    height: 300px;
    background-color:  none;
    margin: 100px auto;
}

.barra {
    width: 500px;
    height: 150px;
    background-color: none;
    margin-left: 300px;
    position: absolute;
    bottom: 130px;
    transition: transform 5s;
}

.mexer {
    transform: translate(400px, 40px);
}
.mexer2{
transform: translate(-260px, -100px);
}

.mexer3{
transform: translate(200px, -60px);
}

.mexer4{
transform: translate(300px, 70px);
}

.mexer5{
transform: translate(280px, -10px);
}

.imager{
    width: 300px;
    height: 300px;
     margin-left: auto;
    margin-right: auto;
    transform: scaleX(1.5) scaleY(2);
    position: relative;
}

.falabarra{
    width: 150px;
    height: 150px;
    transition: opacity 1s ease;
    opacity: 1;
    transform: scaleX(2) scaleY(2);
    position: absolute;
    top: 0;
    left: 0;

}
.realbarra{
    width: 200px;
    height: 50px;
    margin-bottom: 70px;
     transform: scaleX(2.5) scaleY(5);
      position: absolute;
    bottom: -30px;
    right: 0px;
   
}

.sumir{
    opacity: 0;
}

.subir{
 transform: scale(2) translateY(-30px);

}

.adireita {
  transform: translateX(400px)scale(2);
  
}

.aesquerda {
  transform: translateX(-300px) scaleX(2.5) scaleY(4);
  
}
.falabolo{
width: 200px;
height: 200px;
background-color: none;
margin-top: -420px;
margin-left: 280px;
}

.faladobolo{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    transform: scaleX(2) scaleY(2);
}

.chegar{
    transform: scale(3) translateX(30px);
    transition: transform 2s;
}