.bolo {
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 100px auto;
}

.barra {
    width: 400px;
    height: 150px;
    background-color: brown;
    margin-left: 420px;
    position: absolute;
    bottom: 100px;
    transition: transform 5s;
}

.mexer {
    transform: translate(400px, 40px);
}
.mexer2{
transform: translate(-350px, -100px);
}

.mexer3{
transform: translate(500px, -350px);
}

.mexer4{
transform: translate(500px, 80px);
}

.mexer5{
transform: translate(0px, 40px);
}

.imager{
    width: 300px;
    height: 300px;
     margin-left: auto;
    margin-right: auto;
    transform: scaleX(1.5) scaleY(2);
    position: absolute;
}

.falabarra{
    width: 150px;
    height: 150px;
    transition: opacity 1s ease;
    opacity: 1;
    transform: scaleX(1.5) scaleY(2);

}
.realbarra{
    width: 200px;
    height: 50px;
    margin-bottom: 70px;
     transform: scaleX(2.5) scaleY(4);
}

.sumir{
    opacity: 0;
}

.subir{
 transform: scale(2) translateY(-50px);

}

.adireita {
  transform: translateX(230px);
}

.aesquerda {
  transform: translateX(-150px) scaleX(2.5) scaleY(4);
}
.falabolo{
width: 200px;
height: 200px;
background-color: blueviolet;
margin-top: -420px;
margin-left: 300px;
}

.faladobolo{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    transform: scaleX(1.5) scaleY(2);
}